<div class="container">
    <h2>Chinh sua thanh vien</h2>
    <form id="Change-account">
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" id="usr" name="user" value="<%=data.name%>">
      </div>
      <div class="form-group">
        <label for="usrname">User Name:</label>
        <input type="text" class="form-control" id="usrname" name="username" value="<%=data.username%>">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
      </div>
      <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="text" class="form-control" id="phone" name="phone" value="<%=data.phone%>" disabled>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="<%=data.email%>" disabled>
        </div>
      <button type="submit" class="btn btn-primary" >Save</button>
      <div id="result"></div>
    </form>
    <div class="form-group">
      <label for="content">content:</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
  </div>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Upload image</button>
  <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Upload Image</h4>
          <span type="button" class="close" data-dismiss="modal">&times;</span>
        </div>
        <!-- //enctype="multipart/form-data" very important -->
        <form id="upload_img" method="POST" enctype="multipart/form-data">
            <!-- Modal body -->   
            <div class="modal-body">
                <div class="form-group">
                    <label for="img">Image:</label>
                    <input type="file" class="form-control" id="img" name="img">
                </form>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Upload</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              </div>
        </form> 
               
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('#Change-account').on('submit', function(e){
          e.preventDefault();
          var name = $('#usr').val();
          var username = $('#usrname').val();
          var pass = $('#pwd').val();
          var PHONE = $('#phone').val();
          var Email = $('#email').val();
          $.ajax({
              url:'Change_ACCOUNT',
              type:'POST',
              data: { 'name': name,'username': username, 'password': pass , 'phone':PHONE, 'email': Email, 'id': `<%=data._id%>`},
              success: function (result) {
                  if(result=='Updated'){
                      alert('Update data success');
                      window.location.href = 'user'; //chuyen trang
                  }
                  else if(result=='err'){
                      alert('loi DATA');
                  }
                  else
                  {
                    alert(result);
                  }
              }
          });
          return false;
      });
  })
</script>